<div class="jumbotron">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group">
                <input id="search-field" type="text" autofocus="true" placeholder="Search terms" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="width: 7rem">From Show</span>
              </div>
              <input id="show-from" type="text" class="form-control" placeholder="<%= @min_show %>">
            </div>
          </div>

          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">To Show</span>
              </div>
              <input id="show-to" type="text" class="form-control" placeholder="<%= @max_show %>">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div id="top-input" class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="width: 7rem">Topic Filters</span>
              </div>
              <input data-toggle="dropdown" id="topic-field" type="text" class="form-control" />
              <span class="topic-dropdown dropdown-menu" role="menu" aria-labelledby="topic-field">
                <span class="padded"><b>Enter text to filter topics</b></span>

                <div class="topic-data">
                  <span class="topic-suggestions"></span>
                </div>
              </span>
              <span class="input-group-btn">
                <button id="search-button" class="btn btn-primary" type="button">Search</button>
              </span>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="selected-topics">
        </div>
      </div>
    </div>
</div>

<div id="content" class="container">
  <p>Welcome to the No Agenda Shownote Search! This project collects, parses and indexes
    <a href="http://archive.noagendanotes.com">shownotes</a> from the <a href="http://noagendashow.com">No Agenda podcast</a>.
  </p>
  <p><b>Tip: </b>"Clips and Docs" are now indexed. Try adding mp3 to your search terms e.g. <i>noodles mp3</i>.</p>
  <p><img class="mx-auto d-block img-fluid" src="/assets/images/art/<%= Random.rand(7) %>.png" alt="Show artwork" /></p>
</div>

<div class="container" style="margin-top: 10px;">
<div class="row text-center">
  <div class="col">
    <button id="load-button" type="button" class="btn btn-primary" style="display: none">Load More</button>
  </div>
</div>
</div>

