<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <!--<span class="input-group-addon front-label">Text</span>-->
                <input id="search-field" type="text" autofocus="true" placeholder="Search terms" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon front-label">From Show</span>

                <input id="show-from" type="text" class="form-control" placeholder="<%= @min_show %>">
            <span class="input-group-addon front-label">To Show</span>
                <input id="show-to" type="text" class="form-control" placeholder="<%= @max_show %>">
            </div>
        </div>

        <div class="row">
            <div id="top-input" class="input-group">
              <span class="input-group-addon front-label">Topic Filters</span>
              <input data-toggle="dropdown" id="topic-field" type="text" class="form-control" />
              <span class="topic-dropdown dropdown-menu" role="menu" aria-labelledby="topic-field">
                <span class="padded"><b>Enter text to filter topics</b></span>

                <div class="topic-data">
                  <span class="topic-suggestions"></span>
                </div>
              </span>
              <span class="input-group-btn">
                <button id="search-button" class="btn btn-primary" type="button">Search</button>
              </span>
            </div>
        </div>

      <div class="row">
        <div class="selected-topics">
        </div>
      </div>
    </div>
</div>

<div id="content" class="container">
  <p>Welcome to the No Agenda Shownote Search! This project collects, parses and indexes
    <a href="http://archive.noagendanotes.com">shownotes</a> from the <a href="http://noagendashow.com">No Agenda podcast</a>.
  </p>
  <p><b>Tip: </b>"Clips and Docs" are now indexed. Try adding mp3 to your search terms e.g. <i>noodles mp3</i>.</p>
  <p><img class="mx-auto d-block img-fluid" src="/assets/images/art/<%= Random.rand(4) %>.png" alt="Show artwork" /></p>
</div>

<div class="container" style="margin-top: 10px;">
<div class="row text-center">
  <div class="col">
    <button id="load-button" type="button" class="btn btn-primary" style="display: none">Load More</button>
  </div>
</div>
</div>

